# Restaurant Revenue Prediction

In [10]:
import pandas as pd

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [12]:
data  = pd.read_csv('../data/train.csv', index_col = 'Id')

In [13]:
data_test = pd.read_csv('../Data/test.csv', index_col = 'Id')

In [14]:
data_test.head()

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
Id,,,,,,,,,,,,,,,,,,,,,
0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,2,...,2.0,3.0,0,0,0,0,0,0,0,0
1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,3,...,2.0,3.0,0,4,0,0,0,0,0,0
4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,2,...,5.0,3.0,0,0,0,0,0,0,0,0

In [15]:
data.head()

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
Id,,,,,,,,,,,,,,,,,,,,,
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [16]:
# таблица с целевым признаком
target = data['revenue']

In [17]:
# таблица с признаками
features = data.drop(columns=['Open Date', 'City','City Group', 'Type','revenue'])

In [18]:
# разбиваем на выборки
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345)

In [26]:
# модель линейная регрессия
lg_model = LinearRegression()
lg_model.fit(features_train, target_train)
predicted_valid = lg_model.predict(features_valid)

In [27]:
# рассчет rmse
rmse = mean_squared_error(target_valid, predicted_valid) ** 0.5

In [28]:
rmse

4676804.154715095

In [24]:
import pickle

In [31]:
# save the model to disk
filename = '../models/lg_model.pkl'
pickle.dump(lg_model, open(filename, 'wb'))

RandomForestRegressor

In [32]:
# модель RandomForestRegressor
rf_model = RandomForestRegressor()
rf_model.fit(features_train, target_train)
predicted_valid = rf_model.predict(features_valid)

In [33]:
# save the model to disk
filename = '../models/rf_model.pkl'
pickle.dump(lg_model, open(filename, 'wb'))